<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Luo uusi uutinen</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <h1>Luo uusi uutinen</h1>
    <form th:action="@{/uutiset/uusi}" method="post" enctype="multipart/form-data">
        <label>Kirjoittajat:</label>
        <input type="text" name="kirjoittajat"/>
        <label>Kategoriat</label>
        <input type="text" name="kategoriat"/>
        <label>Otsikko:</label>
        <input type="text" name="otsikko"/>
        <label>Ingressi:</label>
        <input type="text" name="ingressi"/>
        <input type="file" name="file"/>
        <label>Sisältö:</label>
        <textarea title="sisältö" name="sisalto">Sisaltö tähän</textarea>
        <input type="submit" value="Tallenna!"/>
    </form>
</body>
</html>