<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uutiset</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<ul>
    <li th:each="uutinen : ${uutiset}">
        <a th:href="@{/uutiset/} + ${uutinen.id}"><p th:text="${uutinen.julkaisupaiva} + ' - ' + ${uutinen.otsikko}"></p></a>
    </li>
    <form th:if="${sivujaJaljella}"
          th:action="@{/uutiset/sivu/} + ${pageable.pageNumber+1} + '/' + ${sort} + '/' + ${suunta}" method="get">
        <input type="submit" value="Seuraava!"/>
    </form>
    <form th:if="${pageable.hasPrevious()}"
          th:action="@{/uutiset/sivu/} + ${pageable.pageNumber-1} + '/' + ${sort} + '/' + ${suunta}" method="get">
        <input type="submit" value="Edellinen!">
    </form>
</ul>
</body>
</html>