<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Etusivu</title>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
<ul>
    <li th:each="uutinen : ${uutiset}">
        <span th:text="${uutinen.otsikko}"></span>
        <span th:text="${uutinen.ingressi}"></span>
        <span th:text="${uutinen.sisalto}"></span>
        <span th:text="${uutinen.julkaisupaiva}"></span>
        <img th:src="@{/images/} + ${uutinen.id-1}"/>
    </li>
</ul>
</body>
</html>